 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 body{
    background: linear-gradient(rgb(17, 69, 151),rgb(144, 51, 180));
    height:100vh;
    color: antiquewhite;

 }
 span{
     display:none;
 }

 #container{
     display: grid;
     grid-template-columns: 1fr 2fr 1fr;
     grid-template-rows: 1fr 5fr 5fr 1fr;
     grid-gap: 10px;
     width: 100vw;
     height: 100vh;
 }
 
 .location{
   grid-column:2/3;
   grid-row:2/3;
}
 .temperature{
    grid-column:2/3;
    grid-row: 3/5;
 }
 .temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items:center;
}


@media only screen and (min-width: 768px){
    body{
        height:100vh;
        background: linear-gradient(rgb(17, 69, 151),rgb(144, 51, 180));
        font-family:sans-serif;
        color:white;
    }
    #container{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
    .location, .temperature{
        height:30vh;
        width:50%;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .temperature{
        flex-direction: column;
    }
    .degree-section{
        display: flex;
        align-items:center;
    }
    .city-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

button{
    background-color: rgb(42, 90, 11);
    border: none;
    color: white;
    padding: 0.5rem 0.625rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0.2rem;
    border-radius: 10%;
}

button:hover{
    color: rgb(20, 44, 3);
    background-color:rgb(226, 221, 221);
}

/*Modal*/
.modal {
	display:none;
	position:fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	overflow:auto;
	background-color: rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}
/*Modal Content*/
.modal-content {
	position:relative;
	background-color:#40E0D0;
	margin:auto;
	padding:20px;
	border:1px solid #888;
	width:70%;
	animation-name:animatetop;
	animation-duration:0.6s;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.6s;
}
/*Add animation*/

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }
/*The Close button*/
#close{
	color:firebrick;
	float:right;
	font-size:30px;
	font-weight: bold;
}

#close:hover, .close:focus {
	color:aliceblue;
	text-decoration: none;
	cursor:pointer;
}
.modal-content p{
    text-align: center;
}